<div class="admin-section-top">
    <div>
        <div class="uk-section-secondary uk-preserve-color">
            <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                <nav class="uk-navbar-container" uk-navbar="mode: click;">
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase_footer.png" alt="edbase"></a>                                                 
                    </div>
                    <div class="uk-navbar-right uk-dark">
                        <ul class="uk-navbar-nav uk-iconnav">
                            <li>
                                <a href="{% url 'dashboard' %}" uk-toggle><span uk-icon="heart"></span> Dashboard </a>
                            </li> 
                            <li>
                                <a href="{% url 'teachers' %}" uk-toggle><span uk-icon="heart"></span> Teachers </a>
                            </li> 
                            <li>
                                <a href="{% url 'subjects' %}" uk-toggle><span uk-icon="heart"></span> Subjects </a>
                            </li> 
                            <li>
                                <a href="{% url 'batchsession' %}" uk-toggle><span uk-icon="heart"></span> Batch & Session </a>
                            </li>
                            <li>
                                <a href="{% url 'uploadmaterial' %}" uk-toggle><span uk-icon="heart"></span> Upload Content </a>
                            </li> 
                            <li>
                                <a href="{% url 'contentdashboard' %}" uk-toggle><span uk-icon="heart"></span> Content Dashboard </a>
                            </li> 
                            <li>
                                <a href="{% url 'help' %}" uk-toggle><span uk-icon="heart"></span> Help </a>
                            </li> 
                            <li>
                                <a href="{% url 'logout' %}" uk-toggle><span uk-icon="heart"></span> Logout </a>
                            </li>                                 
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>