{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        {% include 'nav_admin.html' %}
    </section>


    <!-- itemsList -->
    <section id="student-application">
        <div class="uk-container">
            <div class="head">
                <h1 class="uk-heading-bullet">Edbase - Subject contents</h1>
                <p class="uk-heading-line"><span>List of Subject Content</span></p>
            </div>
            <div class="uk-child-width-1-4@s uk-grid-match uk-margin-large" uk-grid>
                {% for file in data %}
                <a href="{% url 'contentdetail' file.id %}">
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">                        
                            <p>{{ file.file }}</p>                        
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div> 
        </div>
    </section>
    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle uk-position-bottom">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>
{% endblock %}