{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        {% include 'nav_dynamic.html' %}
    </section>


    <!-- itemsList -->
    <section id="student-application">
        <div class="uk-container">
            <div class="head">
                <h1 class="uk-heading-bullet">Edbase - Subject contents</h1>
                <p class="uk-heading-line"><span>List of Subjects</span></p>
            </div>

            <p class="uk-margin-large">
                <button class="uk-button uk-button-default"  data-filter="all">ALL </button>
                <button class="uk-button uk-button-default"  data-filter=".O">O Level </button>
                <button class="uk-button uk-button-primary" data-filter=".AS">AS Level</button>
                <button class="uk-button uk-button-secondary" data-filter=".A2">A2 Level</button>
            </p>

            {% if user == "Student" %}
            <div class="uk-child-width-1-4@s uk-grid-match uk-margin-large mix-content" uk-grid>
                {% for subject in data %}
                <a href="{% url 'contentlist' subject.id %}" class="mix {{ subject.level }}">
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">                        
                            <h3 class="uk-card-title">{{ subject.subjects.title }}</h3>     
                            <p>{{ subject.subjects.code }}</p>          
                            <p>{{ subject.subjects.level }} Level</p>                   
                            <p>{{ subject.subjects.assigned_teacher }}</p>                   
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div> 
            {% elif user == "Teacher" %}
            <div class="uk-child-width-1-4@s uk-grid-match uk-margin-large mix-content" uk-grid>
                {% for subject in data %}
                <a href="{% url 'contentlist' subject.id %}" class="mix {{ subject.level }}">
                    <div>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">                        
                            <h3 class="uk-card-title">{{ subject.title }}</h3>     
                            <p>{{ subject.code }}</p>          
                            <p>{{ subject.level }} Level</p>                   
                            <p>{{ subject.assigned_teacher }}</p>                   
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div> 
            {% endif %}
        </div>
    </section>
    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script>
    var containerEl = document.querySelector('.mix-content');
    var mixer = mixitup(containerEl);
</script>
{% endblock %}