{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        {% include 'admin_nav.html' %}
    </section>


    <!-- itemsList -->
    <section id="student-application">
        <div class="uk-container">
            <div class="head">
                <h1 class="uk-heading-bullet">Edbase - Subject contents</h1>
                <p class="uk-heading-line"><span>Subject Content detail</span></p>
            </div>
            <div class="uk-child-width-1-1@s uk-grid-match uk-margin-large" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">{{ data.file }}</h3>
                        <p>Subject : {{ data.material.subject.title }}</p>
                        <p>Level : {{ data.material.level }}</p>
                        <a class="uk-button uk-button-secondary uk-button-small uk-margin" href="/media/{{ data.file }}">Download</a>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle uk-position-bottom">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>
{% endblock %}