{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        <div class="admin-section-top">
            <div>
                <div class="uk-section-secondary uk-preserve-color">
                    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                        <nav class="uk-navbar-container" uk-navbar="mode: click;">
                            <div class="uk-navbar-left">
                                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase_footer.png" alt="edbase"></a>                                                 
                            </div>
                            <div class="uk-navbar-right uk-dark">
                                <ul class="uk-navbar-nav uk-iconnav">
                                    <li>
                                        <!-- <a href="{% url 'login' %}" uk-toggle><span uk-icon="heart"></span> Login </a> -->
                                    </li>                                 
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- itemsList -->
    <section id="student-application">
        <div class="uk-container">
            <div class="head">
                <h1 class="uk-heading-bullet">Edbase - O/A Level Admission Form</h1>
                <p class="uk-heading-line"><span>Application form to get enroll</span></p>
            </div>
            <div class="uk-child-width-1@m" uk-grid>                
                <form action="{% url 'savestudentsystem' %}" method="post" class="uk-form-horizontal uk-margin-large" enctype="multipart/form-data">{% csrf_token %}
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <p>Please Check the Teachers <a href="uk-button uk-button-text">Routine</a> Before Enrolling. Teacher Routine are not subject to change.</p>
                    </div>
                    <!-- {% comment %} <input id="id" type="text" name="id" value="{{ data.id }}" hidden> {% endcomment %} -->
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                        <h3 class="uk-card-title">Personal Information</h3>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="name">Full Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="name" type="text" name="name" placeholder="Full Name" >
                            </div>
                        </div>
    
                        <div class="uk-margin">
                            <label class="uk-form-label" for="mobile">Mobile Number</label>
                            <div class="uk-form-controls">
                                {% if data.mobile %}
                                <input class="uk-input" id="mobile" type="text" name="mobile" placeholder="Mobile Number" value="{{ data.mobile }}" disabled>
                                {% else %}
                                <input class="uk-input" id="mobile" type="text" name="mobile" placeholder="Mobile Number" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="email">Email Address</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="email" type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="passnid">Passport/Nid</label>
                            <div class="uk-form-controls">
                                {% if data.mobile %}
                                <input class="uk-input" id="passnid" type="text" name="passnid" placeholder="Passport/Nid" value="{{ data.mobile }}" disabled>
                                {% else %}
                                <input class="uk-input" id="passnid" type="text" name="passnid" placeholder="Passport/Nid" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="guardian1">Guardian Name 1</label>
                            <div class="uk-form-controls">
                                {% if data.father %}
                                <input class="uk-input" id="father" type="text" name="guardian1" placeholder="Guardian Name 1" value="{{ data.father }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father" type="text" name="guardian1" placeholder="Guardian Name 1" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="guardian1relation">Relation</label>
                            <div class="uk-form-controls">
                                {% if data.father %}
                                <input class="uk-input" id="father" type="text" name="guardian1relation" placeholder="Relation with the Student" value="{{ data.father }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father" type="text" name="guardian1relation" placeholder="Relation with the Student" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="guardian1">Guardian Name 2</label>
                            <div class="uk-form-controls">
                                {% if data.father %}
                                <input class="uk-input" id="father" type="text" name="guardian2" placeholder="Guardian Name 2" value="{{ data.father }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father" type="text" name="guardian2" placeholder="Guardian Name 2" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="guardian2relation">Relation</label>
                            <div class="uk-form-controls">
                                {% if data.father %}
                                <input class="uk-input" id="father" type="text" name="guardian2relation" placeholder="Relation with the Student" value="{{ data.father }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father" type="text" name="guardian2relation" placeholder="Relation with the Student" required>
                                {% endif %}                            
                            </div>
                        </div>
    
                        {% comment %} <div class="uk-margin">
                            <label class="uk-form-label" for="father">Fathers's Name</label>
                            <div class="uk-form-controls">
                                {% if data.father %}
                                <input class="uk-input" id="father" type="text" name="father" placeholder="Fathers's Name" value="{{ data.father }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father" type="text" name="father" placeholder="Fathers's Name" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="father_mobile">Fathers's Mobile Number</label>
                            <div class="uk-form-controls">
                                {% if data.father_mobile %}
                                <input class="uk-input" id="father_mobile" type="text" name="father_mobile" placeholder="Fathers's Mobile Number" value="{{ data.father_mobile }}" disabled>
                                {% else %}
                                <input class="uk-input" id="father_mobile" type="text" name="father_mobile" placeholder="Fathers's Mobile Number" required>
                                {% endif %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="mother">Mother's Name</label>
                            <div class="uk-form-controls">
                                {% if data.mother %}
                                <input class="uk-input" id="mother" type="text" name="mother" placeholder="Mother's Name" value="{{ data.mother }}" disabled>
                                {% else %}
                                <input class="uk-input" id="mother" type="text" name="mother" placeholder="Mother's Name" required>
                                {% endif %}                            
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="mother_mobile">Mother's Mobile Number</label>
                            <div class="uk-form-controls">
                                {% if data.mother_mobile %}
                                <input class="uk-input" id="mother_mobile" type="text" name="mother_mobile" placeholder="Mother's Mobile Number" value="{{ data.mother_mobile }}" disabled>
                                {% else %}
                                <input class="uk-input" id="mother_mobile" type="text" name="mother_mobile" placeholder="Mother's Mobile Number" required>
                                {% endif %}                            
                            </div>
                        </div> {% endcomment %}

                        <div class="uk-margin">
                            <label class="uk-form-label" for="parent_email">Guardian's Email Address</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="parent_email" type="email" name="parent_email" placeholder="Guardian's Email Address" required>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="parent_phone">Guardian's Phone Number</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="parent_phone" type="text" name="parent_phone" placeholder="Guardian's Phone Number" required>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="address">Address</label>
                            <div class="uk-form-controls" id="address">
                                <input class="uk-input mb-5" id="street_1" type="text" name="street_1" placeholder="Street Address" required>
                                <input class="uk-input mb-5" id="street_2" type="text" name="street_2" placeholder="Street Address 2" required>                                
                                <div uk-grid>
                                    <div class="uk-width-1-3">
                                        <input class="uk-input mb-5" id="city" type="text" name="city" placeholder="City" required>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <input class="uk-input mb-5" id="zip_code" type="text" name="zip_code" placeholder="Zip Code" required>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <input class="uk-input mb-5" id="country" type="text" name="country" placeholder="Country" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Password</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" name="pass" id="form-stacked-text" type="password" placeholder="Password">
                            </div>
                        </div>     
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Confirm Password</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" name="conf_pass" id="form-stacked-text" type="password" placeholder="Confirm Password">
                            </div>
                        </div>  

                        <div class="uk-margin">
                            <label class="uk-form-label" for="dob">Date Of Birth</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="dob" type="date" name="dob" placeholder="Date of Birth" required>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="school">School Name <br> (Type Private if no School)</label>
                            <div class="uk-form-controls">
                                {% if data.school %}
                                <input class="uk-input" id="school" type="text" name="school" placeholder="School Name" value="{{ data.school }}" disabled>
                                {% else %}
                                <input class="uk-input" id="school" type="text" name="school" placeholder="School Name" required>
                                {% endif %}                                   
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="blood_group">Blood Group</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="blood_group" name="blood_group">                                    
                                    <option value="select" >Select One</option>
                                    <option value="A+" >A Positive (A+)</option>
                                    <option value="A-" >A Negative (A-)</option>
                                    <option value="B+" >B Positive (B+)</option>
                                    <option value="B-" >B Negative (B-)</option>
                                    <option value="O+" >O Positive (O+)</option>
                                    <option value="O-" >A Negative (O-)</option>
                                    <option value="AB+" >AB Positive (AB+)</option>
                                    <option value="AB-" >AB Negative (AB-)</option>
                                </select>
                            </div>
                        </div>     
                        
                        <div class="uk-margin">
                            <label class="uk-form-label" for="email">Upload Your Passport Size Photo</label>
                            <div class="uk-form-controls">
                                <div uk-form-custom="target: true">
                                    <input type="file" name="photo">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Photo" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-card-hover uk-width-1@m">
                        <div class="uk-card-header uk-card-primary">
                            <h3 class="uk-card-title">Terms and Conditions for Admission </h3>
                            <p>Read carefully before you submit </p>
                        </div>
                        <div class="uk-card-body">
                            <ol>
                                <li>A student is considered fully registered upon subject enrolment and payment of fees due. </li>
                                <li>Fees due must be paid in advance by the 5th of the month. Failure to pay fees on time may result in the student being barred from classes, examinations and access to other facilities. </li>
                                <li>In the event that a student is expelled/suspended or discontinued due to misconduct, all fees paid are not refundable. </li>
                                <li>Edbase reserves the right to review and amend the rules and regulations (including policies) at anytime. </li>
                            </ol>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-card-hover uk-width-1@m">
                        <div class="uk-card-header uk-card-primary">
                            <h3 class="uk-card-title">General Rules for Students </h3>
                            <p>Read carefully before you submit </p>
                        </div>
                        <div class="uk-card-body">
                            <h4>Classes on Campus:</h4>
                            <ol>
                                <li>You must have at least 90% attendance to register for Edexcel IGCSE/IAL/GCE - A' level or CIE GCE/IGCSE/A' level exams. Edbase will not be liable for poor results of any student if this criteria is not met. </li>
                                <li>You must not hang around/socialize along edbase premises. If found, Edbase reserves the right to rusticate you immediately. Loitering, socializing and/or congregating in the lobby area of the ground floor or in the stair case is strictly prohibited. </li>
                                <li>Greetings among your fellow students must be from afar as long as the pandemic situation prevails. After that, greetings should be limited to handshakes only. </li>
                                <li>The clothing you wear for attending classes at edbase must be modest. Your attire should not cross socially acceptable norms. </li>
                                <li>If you fail to attend any class due to illness or any other unavoidable circumstance, you must notify edbase immediately.</li>
                            </ol>

                            <h4>Online Classes:</h4>
                            <ol>
                                <li>Individual teachers have their own platform of choice when taking classes. Webcams may be a requirement for some teachers. Students must ensure they have webcams that are in working condition. </li>
                                <li>Teachers may require webcams to be turned on during their lectures. Failure to do so may be grounds for removal from the lecture. </li>
                                <li>When logging in to classes, students MUST use their full name. No aliases or shortened forms will be allowed. Doing so is grounds for removal from the lecture. </li>
                                <li>Parents must not come into view of the webcam or interrupt an ongoing lecture while class is in progress. </li>
                                <li>Students should sit through an entire class without any breaks and away from distractions. </li>
                                <li>Students should have a stable internet connection and a backup power source for the device being used to attend the lectures. </li>
                                <li>90% attendance is a MUST for all the courses registered for. </li>
                                <li>Cyber bullying will not be tolerated AT ALL. Any student found guilty will face immediate suspension or expulsion from ALL courses registered at edbase. </li>
                            </ol>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-card-hover uk-width-1@m">
                        <div class="uk-card-header uk-card-primary">
                            <h3 class="uk-card-title">Declaration </h3>
                            <p>Read carefully before you submit </p>
                        </div>
                        <div class="uk-card-body">
                            <ol>
                                <li>I hereby declare that all information provided by me in this form, including the information given in all other documents submitted with this form, is complete and accurate. I also accept that edbase reserves the right to vary or reverse any decision regarding admission and enrolment made on the basis of incomplete or inaccurate information. </li>
                                <li>I accept that edbase reserves the right to modify or change the current fee structure.</li>
                                <li>I hereby agree to pay all fees due on the dates stipulated by edbase. </li>
                                <li>I have read and fully understood all the terms and conditions governing this application for admission. </li>
                                <li>I accept that edbase has the right to terminate a student for violating the any of the 'General Rule for Students'. </li>
                            </ol>
                            <label><input name="acceptance" class="uk-checkbox" type="checkbox" value="accepted" required> I agree to the terms & conditions. </label>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-card-hover uk-width-1@m">
                        <div class="uk-card-header uk-card-primary">
                            <h3 class="uk-card-title">Academic Information </h3>
                            <p>Select Subject and location </p>
                        </div>
                        <div class="uk-card-body">  
                            <p class="uk-text-bold">Select the location you are getting Admitted to</p>
                            <div class="uk-margin">
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                    {% for location in locations %}
                                    <label><input class="uk-radio" type="radio" name="location" value="{{ location.id }}"> {{ location.name }}</label>
                                    {% endfor %}
                                </div>
                            </div>

                            <p class="uk-text-bold">Select the board you are in</p>
                            <div class="uk-margin">
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                    {% for board in boards %}
                                    <label><input class="uk-radio" type="radio" name="board" value="{{ board.id }}"> {{ board.name }}</label>
                                    {% endfor %}
                                </div>
                            </div> 

                            <p class="uk-text-bold">Select only the subjects that you are registered to.</p>
                            <div class="uk-margin">
                                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                    {% for qualification in qualifications %}
                                    <label><input class="uk-checkbox" type="checkbox" name="qualification" value="{{ qualification.id }}"> {{ qualification.level }}</label>
                                    {% endfor %}
                                </div>
                            </div> 

                            <div class="uk-margin">
                                <a class="uk-button uk-button-secondary" id="subjectloadfunction" data-subject-url="{% url 'loadsubject' %}">Generate Subjects</a>
                            </div>

                            <div class="uk-margin" id="subjectload"></div>
                            <div class="uk-margin" id="sessionarea">
                                <p class="uk-text-bold">Select Session from the following list.</p>
                                <div class="uk-margin">
                                    <select class="uk-select" id="sessionval" name="session">
                                        {% for session in sessions %}
                                        <option value="{{ session.id }}">{{ session.session }}</option>                                        
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="uk-button uk-button-secondary" id="batchloadfunction" data-batch-url="{% url 'loadbatch' %}">Generate Batch</a>
                            </div>
                            <div class="uk-margin" id="batchload"></div>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default uk-card-hover uk-width-1@m">
                        <div class="uk-card-header uk-card-primary">
                            <h3 class="uk-card-title">Payment Details </h3>
                        </div>
                        <div class="uk-card-body">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="payment_option">Paid Through</label>
                                <div class="uk-form-controls">
                                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                        <label class="w-100"><input class="uk-radio" type="radio" name="payment_option" value="Cash"> Cash</label>
                                        <label class="w-100"><input class="uk-radio" type="radio" name="payment_option" value="bKash"> bKash</label>
                                        <label class="w-100"><input class="uk-radio" type="radio" name="payment_option" value="notpaid"> Not Paid yet</label>
                                    </div>
                                </div>
                            </div>
                            
                            <p>If payment done through bkash, type the phone number from where it was paid. And if payment done by cash, type the memo receipt number.</p>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="trx_id">Type Payment Code</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="trx_id" type="text" name="trx_id" placeholder="Phone Number/Receipt Number">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="uk-margin uk-flex uk-flex-right">
                        {% if data.mobile %}
                        <input type="submit" class="uk-button uk-button-primary" value="Submit" disabled>
                        {% else %}
                        <input type="submit" class="uk-button uk-button-primary" value="Submit">
                        {% endif %}
                        <!-- <input type="cancel" class="uk-button uk-button-danger" value="Cancel" /> -->
                        <a href="{% url 'studentpanel' %}" class="uk-button uk-button-danger">Back</a>
                    </div>   
                </form>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>   
    $("#sessionarea").hide();
    $("#subjectloadfunction").click(function(){
        var url = $("#subjectloadfunction").attr("data-subject-url");
        const locations = document.querySelector('input[name="location"]:checked').value;
        const boards = document.querySelector('input[name="board"]:checked').value;
        const qualifications = document.querySelectorAll('input[name="qualification"]:checked');

        let qualificationsval = [];

        qualifications.forEach((checkbox) => {
            qualificationsval.push(checkbox.value);
        });
    
        $.ajax({
            url: url,
            type: 'get',
            data: {
                'locations': locations,
                'boards': boards,
                'qualifications': qualificationsval
            },
            success: function(data){
                $("#subjectload").html(data);
            }
        })
        $("#batchloadfunction").removeAttr("disabled");
        $("#sessionarea").show();
    }); 

    $("#batchloadfunction").click(function() {
        var url = $("#batchloadfunction").attr("data-batch-url"); 
        const sessionval = $("#sessionval option:selected" ).val();
        console.log(sessionval);
        $.ajax({
            url: url,
            type: 'get',
            data: {
                'session' : sessionval,
            },
            success: function(data){
                $('#batchload').html(data);
            }
        })

    });

</script>
{% endblock%}