{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        <div class="admin-section-top">
            <div>
                <div class="uk-section-secondary uk-preserve-color">
                    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                        <nav class="uk-navbar-container" uk-navbar="mode: click;">
                            <div class="uk-navbar-left">
                                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase_footer.png" alt="edbase"></a>                                                 
                            </div>
                            <div class="uk-navbar-right uk-dark">
                                <ul class="uk-navbar-nav uk-iconnav">
                                    <!-- <li>
                                        <a href="{% url 'dashboard' %}" uk-toggle><span uk-icon="heart"></span> Back To Dashboard </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}" uk-toggle><span uk-icon="heart"></span> Logout </a>
                                    </li>                                  -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- itemsList -->
    <section id="student-list">
        <div class="uk-container">
            <div class="head">
                <h1 class="uk-heading-bullet">Welcome to {{ data.name }}'s Profile</h1>
                <p class="uk-heading-line"><span>Student's Detail Information</span></p>
            </div>

            <div class="uk-child-width-1@m" uk-grid>
                <div class="uk-margin-large">
                    <div class="uk-card uk-card-default uk-card-body uk-margin-small">
                        <h3>Students Information</h3>
                        <div class="uk-grid-collapse" uk-grid>                            
                            <div class="uk-width-3-4@m">
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Name</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class="">{{ detail.name }}</div>
                                    </div>
                                </div>
            
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Mobile Number</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ detail.mobile }}</div>
                                    </div>
                                </div>

        
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Email Address</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ detail.email }}</div>
                                    </div>
                                </div>
        
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Current School</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ detail.school }}</div>
                                    </div>
                                </div>
        
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Qualifications</div>
                                    </div>
                                    
                                    <div class="uk-width-3-4">
                                        {% for qual in qualification %}
                                            <div class=" ">{{ qual.qualification.level }}</div>
                                        {% endfor %}   
                                    </div>
                                                                     
                                </div>
                            </div>
                            <div class="uk-width-expand@m">
                                <img style="width:200px" src="/media/{{ personal_info.photo }}" alt="{{data.name}}">
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-card-body uk-margin-small">
                        <h3>Personal Information Information</h3>

                        <div class="uk-grid-collapse" uk-grid>                            
                            <div class="uk-width-1-1@m">
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Guardian1 Name</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class="">{{ guardian.guardian1 }}</div>
                                    </div>
                                </div>
            
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Relationship with Guardian1</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ guardian.guardian1relation }}</div>
                                    </div>
                                </div>
            
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Guardian2 Name</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ guardian.guardian2 }}</div>
                                    </div>
                                </div>
        
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Relationship with Guardian2</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ guardian.guardian2relation }}</div>
                                    </div>
                                </div>

                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Guardian's phone number</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ guardian.parent_phone }}</div>
                                    </div>
                                </div>

                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Guardian's email address</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ guardian.parent_email }}</div>
                                    </div>
                                </div>

                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Date of Birth</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ personal_info.dob }}</div>
                                    </div>
                                </div>
                                <hr>    
                            </div>
                            
                            <div class="uk-width-expand@m">
                                <h3>Address</h3>
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Address</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class=" ">{{ personal_info.street_1 }} {{ personal_info.street_2 }}, {{ personal_info.city }}, {{ personal_info.zip_code }}, {{ personal_info.country }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-card-body uk-margin-small">
                        <h3>Payment Information</h3>

                        <div class="uk-grid-collapse" uk-grid>                            
                            <div class="uk-width-3-4@m">
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Payment Info</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class="">Paid By {{ payment_info.payment_option }}</div>
                                    </div>
                                </div>                         
                            </div>

                            {% if "bKash" in payment_info.payment_option %}
                            <div class="uk-width-3-4@m">
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Transaction id</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class="">{{ payment_info.trx_id }}</div>
                                    </div>
                                </div>                         
                            </div>
                            {% elif "Cash" in payment_info.payment_option %}
                            <div class="uk-width-3-4@m">
                                <div class="uk-text-left" uk-grid>
                                    <div class="uk-width-1-4">
                                        <div class="">Transaction id</div>
                                    </div>
                                    <div class="uk-width-3-4">
                                        <div class="">{{ payment_info.trx_id }}</div>
                                    </div>
                                </div>                         
                            </div>
                            {% endif %}
                        </div>  
                    </div>           
                        
                    {% if subjects %}
                        <div class="uk-card uk-card-default uk-card-body uk-margin-small">
                            <h3>Subjects</h3>
                            <div class="uk-text-left" uk-grid>
                                <div class="uk-width-1-4">
                                    <div class="">List of All Subjects</div>
                                </div>
                                <div class="uk-width-3-4">
                                    <ul class="uk-list uk-list-bullet">
                                        <table class="uk-table uk-table-hover uk-table-divider">
                                            <thead>
                                                <tr>
                                                    <th>Subject Title</th>
                                                    <th>Category</th>
                                                    <th>Code</th>
                                                    <th>Assigned Teacher</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for subject in subjects %}
                                                <tr>
                                                    <td>{{ subject.subect.subject.title }}</td>
                                                    <td>{{ subject.subect.qualification.level }}</td>   
                                                    <td>{{ subject.subect.subject.code }}</td>  
                                                    <td>{{ subject.subect.teacher.name }}</td>                                   
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>

{% endblock %}