{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        {% include 'nav_dynamic.html' %}
    </section>


    <!-- itemsList -->
    <section id="student-list">
        <div class="uk-container">
            

            <div uk-grid>
                <div class="uk-width-2-3@m">
                    <div class="head">
                        <h1 class="uk-heading-bullet">Current Log of Subjects</h1>
                        <p class="uk-heading-line"><span>Edbase Subject Log</span></p>
                    </div>
                </div>                    
                <div class="uk-width-expand@m">
                    <a href="{% url 'addsubject' %}" class="uk-button uk-button-secondary">Add Subject</a>
                </div>
            </div>

            <div class="uk-child-width-1@m" uk-grid>
                <div class="uk-margin-large">
                    <table class="uk-table uk-table-hover uk-table-divider">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Title</th>
                                <th>Assigned Teacher</th>
                                <th>Status</th>                                
                                <th>Code</th>
                                <th>Level</th>
                                <th>Modification</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in data %}
                            <tr>
                                <td>{{ subject.id }}</td>
                                <td>{{ subject.title }}</td>
                                <td>{{ subject.assigned_teacher.name }}</td>
                                <td>{{ subject.status }}</td>
                                <td>{{ subject.code }}</td>
                                <td>{{ subject.level }}</td>
                                <td class="uk-flex">
                                    <a href="#" class="uk-button uk-button-secondary">Detail</a>                                    
                                    <a class="uk-button uk-button-primary" href="#assignCode" data-name="{{ subject.title }}" data-id="{{ subject.id }}" onclick="return assignCode(this)" uk-toggle>Update Code</a>
                                    <a href="{% url 'deletesubject' subject.id %}}" class="uk-button uk-button-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="assignCode" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Subject Code Update</h2>
                    </div>
                    <form action="{% url 'updatecode' %}" method="post" class="uk-form-horizontal" enctype="multipart/form-data">{% csrf_token %}
                        <div class="uk-modal-body">
                            <p>Assign Subject a Code.</p>
                            <div class="uk-margin">
                                <input class="uk-input" name="subject_id" id="subject_id" type="text" hidden>
                                <label class="uk-form-label" for="subject_name">Subject</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="subject_name" type="text" name="subject_name" disabled>
                                </div>
                            </div>

                            <div class="uk-margin">                                
                                <label class="uk-form-label" for="code">Code</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="code" type="text" name="code" placeholder="Subject Specific Code">
                                </div>
                            </div>
                            
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <!-- <input type="submit" class="uk-button uk-button-primary" value="Submit"> -->
                            <button class="uk-button uk-button-primary" type="submit">Save</button>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                 
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
    function assignCode(subject) {
        var subjectId = subject.getAttribute("data-id");
        var subjectName = subject.getAttribute("data-name");
        document.getElementById("subject_id").value = subjectId; 
        document.getElementById("subject_name").value = subjectName; 
    }
</script>
{% endblock %}