{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Home Page Section -->
    <section class="main-section">
        {% include 'admin_nav.html' %}
    </section>


    <!-- itemsList -->
    <section id="student-list">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-2-3@m">
                    <div class="head">         
                        <h1 class="uk-heading-bullet">Current Log of Teachers</h1>
                        <p class="uk-heading-line"><span>Edbase Teacher Log</span></p>
                    </div>  
                </div>                    
                <div class="uk-width-expand@m">
                    <a href="{% url 'addteacher' %}" class="uk-button uk-button-secondary">Add Teacher</a>
                </div>
            </div>

            <div class="uk-child-width-1@m" uk-grid>
                <div class="uk-margin-large">
                    <table class="uk-table uk-table-justify uk-table-hover uk-table-divider">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Name</th>                                
                                <th>Status</th>                                
                                <th>Level</th>
                                <th>Modification</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in data %}
                            <tr>
                                <td>{{ teacher.id }}</td>
                                <td>{{ teacher.name }}</td>                                
                                <td>{{ teacher.status }}</td>
                                <td>{{ teacher.level }}</td>
                                <td class="uk-flex">
                                    <a href="#" class="uk-button uk-button-secondary">Detail</a> 
                                    <!-- {% if student.status is False %} -->
                                    <a href="#" class="uk-button uk-button-primary">Activate</a>
                                    <!-- {% else %} -->
                                    <a href="#" class="uk-button uk-button-primary">De-Activate</a>
                                    <!-- {% endif %} -->
                                    <a href="{% url 'deleteteacher' teacher.id %}" class="uk-button uk-button-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="uk-padding">                            
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle uk-position-bottom">
                <a class="uk-navbar-item uk-logo logo-size" href="/"><img src="/static/img/edbase.png" alt="zeros"></a>   
                <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="/">edbasebd.com</a>@2020</p>
            </div>                
        </div>
    </section>
{% endblock %}